<div ng-if="!showVariant">
  <h1 class="heading-large form-title" tabindex="-1"><span class="heading-secondary">{{ tier.label }} application</span><span id="pageTitle">Type of application</span></h1>

  <p>
    <a href="" ng-click="selectApplicantType('main')" class="font-medium" id="mainApplicant">Main applicant</a> (with or without dependants)<br>
    <a href="" ng-click="selectApplicantType('dependant')" class="font-medium" id="dependantOnly">Dependants only</a><br>
  </p>
</div>


<div ng-if="showVariant">
  <h1 class="heading-large form-title" tabindex="-1"><span class="heading-secondary">{{ tier.label }} application (<span ng-bind="(applicantType + ' applicant').trim()"></span>)</span><span id="pageTitle">Type of application cont.</span></h1>
  <ul>
    <li ng-repeat="v in tier.variants">
      <a href="" ng-click="selectVariantType(v.value)" class="font-medium" id="{{ v.value }}">{{ v.label }}</a>
    </li>
  </ul>
</div>
