<h1 class="heading-large form-title" tabindex="-1"><span class="heading-secondary" id="pageSubtitle">{{ tier.label }} application ({{ fs.applicantType }} applicant)</span><span id="pageTitle">Calculate daily funds</span></h1>

<hod-form name="finStatusDetails" submit="submit">

  <hod-date name="dob" label="Date of birth" field="fs.dob" config="conf.dob"></hod-date>

  <hod-sortcode name="sortCode" label="Sort code" field="fs.sortCode" config="conf.sortCode"></hod-sortcode>

  <hod-number name="accountNumber" label="Account number" field="fs.accountNumber" config="conf.accountNumber"></hod-number>

  <hod-date name="applicationRaisedDate" label="Application raised date" field="fs.applicationRaisedDate" config="conf.applicationRaisedDate"></hod-date>

  <hod-date name="endDate" label="Last date of the {{ tier.nDaysRequired }}-day period to check" field="fs.endDate" hint="Includes the date entered, must be within 31 days prior to and including the application raised date" config="conf.endDate"></hod-date>

  <hod-number name="dependants" label="Number of dependants" field="fs.dependants" config="conf.dependants"></hod-number>

  <hod-radio name="inLondon" label="In London" field="fs.inLondon" config="conf.inLondon" options="inLondonOptions"></hod-radio>

  <hod-radio name="courseType" label="Course type" field="fs.courseType" config="conf.courseType"></hod-radio>

  <hod-radio name="courseInstitution" label="Course institution" field="fs.courseInstitution" config="conf.courseInstitution"></hod-radio>

  <hod-date name="courseStartDate" label="Start date of course" field="fs.courseStartDate" config="conf.courseStartDate"></hod-date>

  <hod-date name="courseEndDate" label="End date of course" field="fs.courseEndDate" config="conf.courseEndDate"></hod-date>

  <hod-radio name="continuationCourse" label="Course continuation" field="fs.continuationCourse" config="conf.continuationCourse"></hod-radio>
  
  <div class="panel panel-border-wide text" ng-show="fs.continuationCourse=='yes'">
    <hod-date name="originalCourseStartDate" label="Original course start date" field="fs.originalCourseStartDate" config="conf.originalCourseStartDate"></hod-date>
  </div>

  <hod-number name="tuitionFees" label="Total tuition fees for the first year" field="fs.tuitionFees" config="conf.tuitionFees"></hod-number>

  <hod-number name="tuitionFeesPaid" label="Tuition fees already paid" field="fs.tuitionFeesPaid" config="conf.tuitionFeesPaid"></hod-number>

  <hod-number name="accommodationFeesPaid" label="Accommodation fees already paid" field="fs.accommodationFeesPaid" config="conf.accommodationFeesPaid"></hod-number>

  <hod-submit value="Calculate daily funds"></hod-submit>

</hod-form>