<h1 class="heading-large form-title" tabindex="-1"><span class="heading-secondary">{{ tier.label }} application</span><span id="pageTitle">Get consent for a financial check</span></h1>

<hod-form name="fsGetConsentForm" submit="submit">
  <hod-date name="dob" label="Date of birth" field="fs.dob" config="conf.dob"></hod-date>

  <hod-sortcode name="sortCode" label="Sort code" field="fs.sortCode"></hod-sortcode>

  <hod-number name="accountNumber" label="Account number" field="fs.accountNumber" config="conf.accountNumber"></hod-number>

  <hod-submit value="Get consent"></hod-submit>
</hod-form>