<nav id="nav">
  <div class="navbar">
    <ul class="navbar__list-items">
      <li ng-repeat="t in tiers" ng-class="{active: (tier === t.tier)}"><a ui-sref="fsStart({tier: t.tier})">{{ t.label }}</a></li>
    </ul>
  </div>
</nav>
<div class="debuglinks" ng-if="showDebug">
  <a ng-click="setBank('00000500')">SUCCESS - Not Passed</a>
  <a ng-click="setBank('00030000')">SUCCESS - Passed</a>
  <a ng-click="setBank('00000501')">INITIATED</a>
  <a ng-click="setBank('00000502')">PENDING</a>
  <a ng-click="setBank('00000503')">FAILURE</a>
  <a ng-click="setBank('00000504')">INVALID</a>
  <a ng-click="setBank('27272727')">RECORDS</a>
</div>
<hod-availability></hod-availability>