  h2 {
    font-size: 18px;
  }

  .heading-xlarge {
    margin-bottom: 20px;
  }

  .top-align {
    vertical-align: top;
  }

  .page-title {
    margin-top: 20px;
  }

  .no-bottom-margin {
  	margin-bottom: 0;
  }

  .add-top-margin {
    margin-top: 50px;
  }

  .full-width {
  	width: 100%;
  }

  .panel.panel-no-border {
  	border-left: none;
  	padding: 0;
  }

  .no-padding {
    padding: 0;
  }

  .wide-cell {
    width: 70%;
  }

  .form-group.small-bottom-margin {
    margin-bottom: 5px;
  }

  table td.no-bottom-border {
    border-bottom: none;
  }

@media (min-width: 641px){
	table th, table td {
	    font-size: 16px;
	    line-height: 1.25;
	}
}