/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


$green: #00823b;

h2 {
  font-size: 18px;
}

a {
  cursor: pointer;
  color: #005ea5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

a:visited {
  color: #4c2c92;
}

.yoursearch {
  h2 {
    display: inline-block;
    margin-right: 10px;
  }
}

.heading-xlarge {
  margin-bottom: 20px;
}

.top-align {
  vertical-align: top;
}

.page-title {
  margin-top: 20px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.add-top-margin {
  margin-top: 50px;
}

.full-width {
	width: 100%;
}

.panel.panel-no-border {
	border-left: none;
	padding: 0;
}

.no-padding {
  padding: 0;
}

.wide-cell {
  width: 70%;
}

.form-group.small-bottom-margin {
  margin-bottom: 5px;
}

table td.no-bottom-border {
  border-bottom: none;
}

.form-group--topspace {
  padding-top: 30px;
}

.button-info {
  background-color: #dee0e2;
  box-shadow: 0 2px 0 #b5babe;
  color: #0b0c0c;

  &:hover {
    background-color: darken(#dee0e2, 5%);
    box-shadow: 0 2px 0 darken(#b5babe, 5%);
    color: #0b0c0c;
  }
}

  .button--disabled {
    background-color: tint($green, 50%);
    &:hover {
      background-color: tint($green, 50%);
    }
  }


@media (min-width: 641px){
	table th, table td {
	    font-size: 16px;
	    line-height: 1.25;
	}
}


.govuk-box-highlight {
  padding-top: 0;
  .heading-large {
    margin-top: 0;
    padding-top: 1em;
  }
}

.system-status {
  display: block;
  font-size: 14px;
  margin: 10px 0 40px 0;
  padding: 2px;
  position: relative;
  span {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  @media (min-width: 641px) {
    margin-bottom: 0;
  }
}

.system-status-offline {
  span {
    display: inline-block;
    background-color: #ffff00;
    padding: 4px;
  }
}

.button--copy {
  margin: 10px 0;
}

.copied {
  margin: 10px 0 0 0;
  display: inline-block;
  padding-top: 0.526315em;
  padding-right: 0.789473em;
  padding-bottom: 0.263157em;
  padding-left: 0.789473em;
}

.radio-group {
  width: 100%;
  clear: both;
}