/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


$green: #00823b;

h2 {
  font-size: 18px;
}


.heading-xlarge {
  margin-bottom: 20px;
}

.top-align {
  vertical-align: top;
}

.page-title {
  margin-top: 20px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.add-top-margin {
  margin-top: 50px;
}

.full-width {
	width: 100%;
}

.panel.panel-no-border {
	border-left: none;
	padding: 0;
}

.no-padding {
  padding: 0;
}

.wide-cell {
  width: 70%;
}

.form-group.small-bottom-margin {
  margin-bottom: 5px;
}

table td.no-bottom-border {
  border-bottom: none;
}

.form-group--topspace {
  padding-top: 30px;
}

.button-info {
  background-color: #dee0e2;
  box-shadow: 0 2px 0 #b5babe;
  color: #0b0c0c;

  &:hover {
    background-color: darken(#dee0e2, 5%);
    box-shadow: 0 2px 0 darken(#b5babe, 5%);
    color: #0b0c0c;
  }
}

  .button--disabled {
    background-color: tint($green, 50%);
    &:hover {
      background-color: tint($green, 50%);
    }
  }


@media (min-width: 641px){
	table th, table td {
	    font-size: 16px;
	    line-height: 1.25;
	}
}

.system-status {
  font-size: 12px;
  margin: 10px 0;
  padding: 2px;
}

.system-status-offline {
  background-color: #ffff00;
}

