<div id="page2" class="ng-scope">
  <div ng-if="haveResult">
    <div ng-class="{'govuk-box-highlight': success}">
      <h1 class="heading-large" id="pageDynamicHeading" tabindex="-1"><span id="outcome">{{ heading }}</span></h1>
      <p id="pageDynamicDetail"><span>{{ reason }}</span></p>
    </div>
  </div>


  <div ng-if="!haveResult">
    <h1 class="form-title heading-large" tabindex="-1"><span id="pageDynamicHeading">{{ heading }}</span></h1>

    <p class="lede ng-scope"><span id="pageDynamicDetail" class="ng-binding">{{ reason }}</span></p>
    <div ng-if="reasonInfo">
      <ul class="list list-bullet">
        <li ng-repeat="inf in reasonInfo">{{ inf }}</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-border-wide text" ng-if="whatNext">
    <h2 class="heading-small">What to do next</h2>
    <ol class="list list-number">
      <li ng-repeat="what in whatNext">{{ what }}</li>
    </ol>
  </div>


  <div ng-if="showSummary">
    <h2 class="heading-medium">Results</h2>
    <table id="resultsTable">
      <tr ng-repeat="detail in summary">
        <th scope="row" width="50%">{{ detail.label }}</th>
        <td id="{{ detail.id }}">{{ detail.value }}</td>
      </tr>
      <tr>
        <th scope="row">Summary</th>
        <td><span id="copySummary">{{ copysummary }}</span><br />
          <input id="copyBtn" type="submit" class="button button--copy button-info" value="{{ copyToClipboardBtnText }}" />
        </td>
      </tr>
    </table>
  </div>

  <div ng-if="showCriteria">
    <h2 class="heading-medium">Your search</h2>
    <table id="yourSearchTable">
      <tr ng-repeat="criteria in searchCriteria">
        <th scope="row" width="50%">{{ criteria.label }}</th>
        <td id="{{ criteria.id }}">{{ criteria.value }}</td>
      </tr>
    </table>
  </div>



  <div class="form-group form-group--topspace">
    <input type="submit" class="button button--editSearch button-info" value="Edit" ng-click="editSearch()" />
  </div>

  <div class="form-group form-group--topspace">
    <input type="submit" class="button button--newSearch" value="Begin a new check" ng-click="newSearch()" />
  </div>
</div>