<hod-availability></hod-availability>

<div class="column-full-width ng-scope">
    <div id="page1">

        <h1 class="heading-large" id="pageTitle" tabindex="-1">
            <span class="heading-secondary">Tier {{ tier }}</span>
            <span id="pageSubHeading">{{ pageTitle }}</span>
        </h1>

        <hod-form name="finStatusDetails" submit="detailsSubmit">

            <hod-date name="applicationRaisedDate" label="Application raised date" field="finStatus.applicationRaisedDate" config="conf.applicationRaisedDate"></hod-date>

            <hod-date name="endDate" label="End date of {{ndays}}-day period" field="finStatus.toDate" hint="Includes the date entered, must be within 31 days prior to and including the application raised date" config="conf.endDate"></hod-date>

            <div ng-if="!isCalc">
                <hod-date name="dob" label="Date of birth" field="finStatus.dob" config="conf.dob"></hod-date>
            </div>

            <hod-number name="dependants" label="Number of dependants" field="finStatus.dependants" config="conf.dependants"></hod-number>

            <div ng-if="!isCalc">
                <hod-sortcode name="sortCode" label="Sort code" field="finStatus.sortCode" conf="conf.sortCode"></hod-sortcode>

                <hod-number name="accountNumber" label="Account number" field="finStatus.accountNumber" config="conf.accountNumber"></hod-number>
            </div>

            <hod-radio name="courseType" label="Course type" field="finStatus.courseType" options="courseTypeOptions" config="conf.courseType"></hod-radio>

            <hod-radio name="inLondon" label="In London?" field="finStatus.inLondon" options="yesNoOptions" config="conf.inLondon"></hod-radio>

            <hod-date name="courseStartDate" label="Start date of course" field="finStatus.courseStartDate" config="conf.courseStartDate"></hod-date>

            <hod-date name="courseEndDate" label="End date of course" field="finStatus.courseEndDate" config="conf.courseEndDate"></hod-date>

            <hod-radio name="continuationCourse" label="Is the course a continuation?" field="finStatus.continuationCourse" options="yesNoOptions" config="conf.continuationCourse"></hod-radio>
            
            <div class="panel panel-border-wide text" ng-show="(finStatus.continuationCourse=='yes' && !conf.originalCourseStartDate.hidden)">
                <hod-date name="originalCourseStartDate" label="Original course start date" field="finStatus.originalCourseStartDate" config="conf.originalCourseStartDate"></hod-date>
            </div>

            <hod-number name="totalTuitionFees" label="Total tuition fees for the first year" field="finStatus.totalTuitionFees" config="conf.totalTuitionFees"></hod-number>

            <hod-number name="tuitionFeesAlreadyPaid" label="Tuition fees already paid" field="finStatus.tuitionFeesAlreadyPaid" config="conf.tuitionFeesAlreadyPaid"></hod-number>

            <hod-number name="accommodationFeesAlreadyPaid" label="Accommodation fees already paid" field="finStatus.accommodationFeesAlreadyPaid" config="conf.accommodationFeesAlreadyPaid"></hod-number>

            <hod-submit value="{{ submitButton.text }}" disabled="{{ submitButton.disabled }}"></hod-submit>

        </hod-form>
        <!-- <pre>
          <p ng-repeat="(key, val) in finStatus">{{ key }} = {{ val }}</p>
        </pre> -->
    </div>
</div>
