<h1 class="heading-large form-title"><span class="heading-secondary">{{ tier.label }} application</span><span id="outcome">{{ outcome }}</span></h1>

<p id="outcomeDetail">{{ outcomeDetail }}</p>

<ul class="list list-bullet">
  <li ng-repeat="inf in reasons">{{ inf }}</li>
</ul>


<h2 class="heading-medium">Your calculation <a class="font-small" ui-sref="fsGetConsent" id="editBtn">Edit details</a></h2>

<table class="table-font-xsmall" id="criteria">
  <tr ng-repeat="(f, obj) in criteria">
    <th>{{ obj.label }}</th>
    <td id="{{ f }}">{{ obj.display }}</td>
  </tr>
</table>

<div class="form-group">
  <a class="" ui-sref="fsDetails({ calcOrBank: 'calc' })" id="newsearchBtn">Calculate only</a>
</div>