<h1 class="heading-large form-title "><span class="heading-secondary">{{ tier.label }} application</span>Get consent</h1>

<p>Barclays will contact the customer to get consent for this financial check.</p>

<hod-form name="fsGetConsentForm" submit="submit">
  <hod-date name="dob" label="Date of birth" field="fs.dob" config="conf.dob"></hod-date>

  <hod-sortcode name="sortCode" label="Sort code" field="fs.sortCode"></hod-sortcode>

  <hod-number name="accountNumber" label="Account number" field="fs.accountNumber" config="conf.accountNumber"></hod-number>

  <hod-submit value="Continue"></hod-submit>
</hod-form>