<nav id="nav">
  <div class="navbar">
    <ul class="navbar__list-items">
      <li ng-repeat="t in tiers" ng-class="{active: (tier === t.tier)}"><a ui-sref="fsApplicantType({tier: t.tier})">{{ t.label }}</a></li>
    </ul>
  </div>
</nav>
<div class="debuglinks">
  <a ng-click="setBank('00000500')">SUCCESS</a>
  <a ng-click="setBank('00000501')">INITIATED</a>
  <a ng-click="setBank('00000502')">PENDING</a>
  <a ng-click="setBank('00000503')">FAILURE</a>
  <a ng-click="setBank('00000504')">INVALID</a>
</div>