
<div ng-if="state === 'PENDING'">
  <h1 class="heading-large" id="outcome" tabindex="0">Consent pending</h1>

  <p id="outcomeDetail">The applicant has not yet responded to the request.</p>

  <p id="consentCheck">{{ consentCheck }}</p>

  <fs-timer config="timerConf"></fs-timer>

  <p><a class="" ng-click="tryAgainNow()" id="checkAgainBtn">Check again now</a></p>
  <p><a class="" ng-click="cancelTimer()" id="cancelRequestBtn">Cancel request</a></p>

  <h2 id="account-holder" class="heading-medium">Calculator results</h2>
  <div class="govuk-box-highlight panel-fail">
    <h3 class="bold-large">{{ threshold | pounds }}</h3>
    <p><strong class="heading-small">Total daily funds required</strong><br />{{ results.periodChecked.display }}</p>
  </div>
</div>



<div ng-if="state === 'PASSED'">
  <div class="govuk-box-highlight">
    <h1 class="bold-large" id="outcome" tabindex="0">{{ stateTitle }}</h1>
    <p id="outcomeDetail">{{ stateReason }}</p>
  </div>

  <h2 class="heading-large">Things to do now</h2>
  <ol class="list list-number">
    <li ng-repeat="nxt in doNext">{{ nxt }}</li>
  </ol>

  <h2 class="heading-medium">Results</h2>
</div>



<div ng-if="state === 'NOTPASSED'">
  <div class="govuk-box-highlight panel-fail">
    <h1 class="bold-large" id="outcome" tabindex="0">{{ stateTitle }}</h1>
    <p id="outcomeDetail">{{ stateReason }}</p>
  </div>

  <h2 class="heading-large">Things to do now</h2>
  <ol class="list list-number">
    <li ng-repeat="nxt in doNext">{{ nxt }}</li>
  </ol>

  <h2 class="heading-medium">Results</h2>
</div>



<div ng-if="state === 'CONSENTDENIED'">
  <h1 class="bold-large" id="outcome" tabindex="0">{{ stateTitle }}</h1>
  <p id="outcomeDetail">{{ stateReason }}</p>

  <ol class="list list-number">
    <li ng-repeat="nxt in doNext">{{ nxt }}</li>
  </ol>

  <h2 id="account-holder" class="heading-medium">Calculator results</h2>
  <div class="govuk-box-highlight panel-fail">
    <h3 class="bold-large">{{ threshold | pounds }}</h3>
    <p><strong class="heading-small">Total daily funds required</strong><br />{{ results.periodChecked.display }}</p>
  </div>
</div>

<div ng-if="state === 'ERROR'">
  <h1 class="bold-large" tabindex="0">{{ stateTitle }}</h1>
  <p>{{ stateReason }}</p>

  <ol class="list list-number">
    <li ng-repeat="nxt in doNext">{{ nxt }}</li>
  </ol>

  <h2 id="account-holder" class="heading-medium">Calculator results</h2>
  <div class="govuk-box-highlight panel-fail">
    <h3 class="bold-large">{{ threshold | pounds }}</h3>
    <p><strong class="heading-small">Total daily funds required</strong><br />{{ results.periodChecked.display }}</p>
  </div>
</div>



<div ng-if="state === 'CALCULATOR'">
  <div class="govuk-box-highlight panel-fail">
    <h1 class="bold-large" id="outcome" tabindex="0">{{ threshold | pounds }}</h1>
    <p><strong class="heading-small">Total daily funds required</strong></p>
  </div>

  <h2 class="heading-large">Things to do now</h2>
  <ol class="list list-number">
    <li ng-repeat="nxt in doNext">{{ nxt }}</li>
  </ol>

  <h2 class="heading-medium">Results</h2>
</div>



<table class="table-font-xsmall" id="result">
  <tr ng-repeat="(f, obj) in results">
    <th>{{ obj.label }}</th>
    <td id="{{ f }}" class="nl2br">{{ obj.display }}</td>
  </tr>
</table>


<h2 class="heading-medium">Your calculation <a class="font-small" ui-sref="fsDetails" id="editSearchBtn">Edit details</a></h2>

<table class="table-font-xsmall" id="criteria">
  <tr ng-repeat="(f, obj) in criteria">
    <th>{{ obj.label }}</th>
    <td id="{{ f }}">{{ obj.display }}</td>
  </tr>
</table>


<div class="form-group">
  <a id="copyBtn" class="button">Copy results to clipboard</a>
  <span class="button button-after" ng-show="showCopied">Copied</span>
</div>

<div class="form-group">
  <a class="" ui-sref="fsStart" id="newSearchBtn">Start new check</a>
</div>
