<div id="{{ config.id }}-form-group" class="form-group"  ng-class="{error: displayError}" ng-hide="config.hidden">
  <fieldset>
    <legend class="form-label-bold" id="{{ config.id }}">{{ label }}</legend>
    <div class="form-hint">{{ hint }}</div>
    <div ng-if="displayError" id="{{ config.id }}-error" class="form-error validation-message">{{ displayError }}</div>

    <div class="checkbox-group">
      <label ng-repeat="(i, opt) in config.options" class="block-label selection-button-checkbox" for="{{ opt.id }}" id="{{ opt.id }}-label" ng-class="{focused: focused, selected: opt.checked}">
        <input id="{{ opt.id }}" name="{{ opt.id }}" type="checkbox" ng-model="opt.checked" ng-change="checkBoxChange(opt)" ng-focus="focused=true" ng-blur="focused=false" />{{ opt.label }}
      </label>
    </div>
  </fieldset>
</div>
