<div class="error-summary" ng-if="vm.serverError !== ''">
    <h1 class="heading-medium error-summary-heading" id="server-error-summary-heading">
        Something's gone wrong
    </h1>
    <p id="serverError">You can’t use this service just now. The problem will be fixed as soon as possible</p>
    <p id="serverErrorDetail">Please try again later.</p>
</div>

<div class="column-full-width">
    <div id="page1" data-bind="visible: currentPage() === 1">
        <h1 class="heading-large" id="pageTitle">
            <span ng-if="!vm.model.doctorate" id="pageSubHeading">Tier 4 (General) student</span>
            <span ng-if="vm.model.doctorate" id="pageSubHeading">Tier 4 (General) student (doctorate extension scheme)</span>
        </h1>


        <div class="form-group">
            <form name="vm.queryForm" ng-submit="vm.submit()">

                <div ng-if="vm.validateError || vm.restError" class="error-summary"
                     role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

                    <h1 class="heading-medium error-summary-heading" id="validation-error-summary-heading">
                        There's some invalid information
                    </h1>

                    <p id="validation-error-summary-text">Make sure that all the fields have been completed</p>

                    <ul class="error-summary-list" id="error-summary-list" >

                        <li ng-if="vm.endDateMissingError">
                            <a href="" ng-click="vm.scrollTo('end-date-label')">The end date is
                                invalid</a></li>

                        <li ng-if="vm.endDateInvalidError">
                            <a href="" ng-click="vm.scrollTo('end-date-label')">The end date is
                                invalid</a></li>

                        <li ng-if="vm.inLondonMissingError">
                            <a href="" ng-click="vm.scrollTo('in-london-label')">The in London option is
                                invalid</a></li>

                        <li ng-if="vm.studentTypeMissingError">
                            <a href="" ng-click="vm.scrollTo('student-type-label')">The student type is invalid</a></li>


                        <li ng-if="vm.courseStartDateMissingError">
                            <a href="" ng-click="vm.scrollTo('course-start-date-label')">The course start date is
                                invalid</a></li>

                        <li ng-if="vm.courseStartDateInvalidError">
                            <a href="" ng-click="vm.scrollTo('course-start-date-label')">The course start date is
                                invalid</a></li>


                        <li ng-if="vm.courseEndDateMissingError">
                            <a href="" ng-click="vm.scrollTo('course-end-date-label')">The course end date is
                                invalid</a></li>

                        <li ng-if="vm.courseEndDateInvalidError">
                            <a href="" ng-click="vm.scrollTo('course-end-date-label')">The course end date is
                                invalid</a></li>


                        <li ng-if="vm.courseLengthInvalidError">
                            <a href="" ng-click="vm.scrollTo('course-length-label')">The course length is invalid</a></li>

                        <li ng-if="vm.courseLengthMissingError">
                            <a href="" ng-click="vm.scrollTo('course-length-label')">The course length is invalid</a></li>

                        <li ng-if="vm.totalTuitionFeesInvalidError">
                            <a href="" ng-click="vm.scrollTo('total-tuition-fees-label')">The total tuition fees is invalid</a>
                        </li>

                        <li ng-if="vm.totalTuitionFeesMissingError">
                            <a href="" ng-click="vm.scrollTo('total-tuition-fees-label')">The total tuition fees is invalid</a>
                        </li>

                        <li ng-if="vm.tuitionFeesAlreadyPaidInvalidError">
                            <a href="" ng-click="vm.scrollTo('tuition-fees-already-paid-label')">The tuition fees already paid is
                                invalid</a></li>

                        <li ng-if="vm.tuitionFeesAlreadyPaidMissingError">
                            <a href="" ng-click="vm.scrollTo('tuition-fees-already-paid-label')">The tuition fees already paid is
                                invalid</a></li>

                        <li ng-if="vm.accommodationFeesAlreadyPaidInvalidError">
                            <a href="" ng-click="vm.scrollTo('accommodation-fees-already-paid-label')">The accommodation fees
                                already paid is invalid</a></li>

                        <li ng-if="vm.accommodationFeesAlreadyPaidMissingError">
                            <a href="" ng-click="vm.scrollTo('accommodation-fees-already-paid-label')">The accommodation fees
                                already paid is invalid</a></li>

                        <li ng-if="vm.numberOfDependantsInvalidError">
                            <a href="" ng-click="vm.scrollTo('number-of-dependants-label')">The number of dependants is invalid</a></li>

                        <li ng-if="vm.numberOfDependantsMissingError">
                            <a href="" ng-click="vm.scrollTo('number-of-dependants-label')">The number of dependants is invalid</a></li>

                        <li ng-if="vm.accountNumberInvalidError">
                            <a href="" ng-click="vm.scrollTo('account-number-label')">The account number is invalid</a></li>

                        <li ng-if="vm.accountNumberMissingError">
                            <a href="" ng-click="vm.scrollTo('account-number-label')">The account number is invalid</a></li>

                        <li ng-if="vm.sortCodeInvalidError">
                            <a href="" ng-click="vm.scrollTo('sort-code-label')">The sort code is invalid</a></li>

                        <li ng-if="vm.sortCodeMissingError">
                            <a href="" ng-click="vm.scrollTo('sort-code-label')">The sort code is invalid</a></li>

                    </ul>
                </div>

                <div class="form-group " id="end-date"
                     ng-class="{error : vm.endDateMissingError || vm.endDateInvalidError}">

                    <fieldset>
                        <legend class="form-label-bold" id="end-date-label">End date of 28-day period</legend>
                        <div class="form-date">
                            <p class="form-hint">Includes the date entered</p>
                            <span id="end-date-error" class="error-message"
                                  ng-if="vm.endDateMissingError || vm.endDateInvalidError">
                                Enter a valid end date</span>
                            <div class="form-group form-group-day">
                                <label for="endDateDay">Day</label>
                                <input class="form-control" name="endDateDay"
                                       id="endDateDay" type="text"
                                       ng-model="vm.model.endDateDay" autocomplete="off">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="endDateMonth">Month</label>
                                <input class="form-control" name="endDateMonth"
                                       id="endDateMonth"
                                       type="text" ng-model="vm.model.endDateMonth"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="endDateYear">Year</label>
                                <input class="form-control" name="endDateYear"
                                       id="endDateYear" type="text"
                                       ng-model="vm.model.endDateYear"
                                       autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group" id="inLondon"
                     ng-class="{error : vm.inLondonMissingError }">
                    <fieldset class="inline">
                        <legend class="form-label-bold" id="in-london-label">In London?</legend>
                        <span id="in-london-error" class="error-message"
                              ng-if="vm.inLondonMissingError">
                                        Select an option</span>
                        <label class="block-label" for="inLondon-1">
                            <input type="radio" class="form-control form-control-1-8" name="inLondon"
                                   id="inLondon-1" value="true"
                                   ng-model="vm.model.inLondon" autocomplete="off">Yes
                        </label>
                        <label class="block-label" for="inLondon-2">
                            <input type="radio" class="form-control form-control-1-8" name="inLondon"
                                   id="inLondon-2" value="false"
                                   ng-model="vm.model.inLondon" autocomplete="off">No
                        </label>
                    </fieldset>
                </div>


                <div class="form-group " id="course-start-date"
                     ng-class="{error : vm.courseStartDateMissingError || vm.courseStartDateInvalidError || vm.courseLengthInvalidError}">

                    <fieldset>
                        <legend class="form-label-bold" id="course-start-date-label">Course start date</legend>
                        <div class="form-date">
                            <span id="course-start-date-error" class="error-message"
                                  ng-if="vm.courseStartDateMissingError || vm.courseStartDateInvalidError">
                                      Enter a valid course start date</span>
                            <span id="course-length-error" class="error-message"
                                  ng-if="vm.courseLengthInvalidError || vm.courseLengthMissingError">
                                      Enter a valid course length</span>
                            <div class="form-group form-group-day">
                                <label for="courseStartDateDay">Day</label>
                                <input class="form-control" name="courseStartDateDay"
                                       id="courseStartDateDay" type="text"
                                       ng-model="vm.model.courseStartDateDay" autocomplete="off">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="courseStartDateMonth">Month</label>
                                <input class="form-control" name="courseStartDateMonth"
                                       id="courseStartDateMonth"
                                       type="text" ng-model="vm.model.courseStartDateMonth"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="courseStartDateYear">Year</label>
                                <input class="form-control" name="courseStartDateYear"
                                       id="courseStartDateYear" type="text"
                                       ng-model="vm.model.courseStartDateYear"
                                       autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>


                <div class="form-group " id="course-end-date"
                     ng-class="{error : vm.courseEndDateMissingError || vm.courseEndDateInvalidError || vm.courseLengthInvalidError}">

                    <fieldset>
                        <legend class="form-label-bold" id="course-end-date-label">Course end date</legend>
                        <div class="form-date">
                            <span id="course-end-date-error" class="error-message"
                                  ng-if="vm.courseEndDateMissingError || vm.courseEndDateInvalidError">
                                Enter a valid course end date</span>
                            <div class="form-group form-group-day">
                                <label for="courseEndDateDay">Day</label>
                                <input class="form-control" name="courseEndDateDay"
                                       id="courseEndDateDay" type="text"
                                       ng-model="vm.model.courseEndDateDay" autocomplete="off">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="courseEndDateMonth">Month</label>
                                <input class="form-control" name="courseEndDateMonth"
                                       id="courseEndDateMonth"
                                       type="text" ng-model="vm.model.courseEndDateMonth"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="courseEndDateYear">Year</label>
                                <input class="form-control" name="courseEndDateYear"
                                       id="courseEndDateYear" type="text"
                                       ng-model="vm.model.courseEndDateYear"
                                       autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <!-- <div class="form-group"
                     ng-class="{error : vm.courseLengthInvalidError || vm.courseLengthMissingError }">
                    <label class="form-label-bold" for="courseLength" id="course-length-label">
                        Course length
                        <span ng-if="!vm.model.doctorate" class="form-hint" id="course-length-hint">Enter the number of months, up to 9 months</span>
                        <span ng-if="vm.model.doctorate" class="form-hint" id="course-length-hint">Enter the number of months, up to 2 months</span>
                    </label>
                    <span id="course-length-error" class="error-message"
                          ng-if="vm.courseLengthInvalidError || vm.courseLengthMissingError">
                                    Enter a valid course length</span>
                    <input type="number" class="form-control form-control-1-8" name="courseLength" id="courseLength"
                           ng-model="vm.model.courseLength" autocomplete="off">
                </div> -->

                <div ng-if="!vm.model.doctorate"
                     class="form-group"
                     ng-class="{error : vm.totalTuitionFeesInvalidError || vm.totalTuitionFeesMissingError }">
                    <label class="form-label-bold" for="totalTuitionFees" id="total-tuition-fees-label">
                        Total tuition fees for the first year
                        <span class="form-hint">For example, £9000</span>
                    </label>
                    <span id="total-tuition-fees-error" class="error-message"
                          ng-if="vm.totalTuitionFeesInvalidError || vm.totalTuitionFeesMissingError">
                                    Enter a valid total tuition fees</span>
                    £ <input type="number" step="0.01" class="form-control form-control-1-4" name="totalTuitionFees"
                             id="totalTuitionFees"
                             ng-model="vm.model.totalTuitionFees" autocomplete="off">
                </div>

                <div ng-if="!vm.model.doctorate"
                     class="form-group"
                     ng-class="{error : vm.tuitionFeesAlreadyPaidInvalidError || vm.tuitionFeesAlreadyPaidMissingError }">
                    <label class="form-label-bold" for="tuitionFeesAlreadyPaid" id="tuition-fees-already-paid-label">
                        Tuition fees already paid
                        <span class="form-hint">For example, £3000</span>
                    </label>
                    <span id="tuition-fees-already-paid-error" class="error-message"
                          ng-if="vm.tuitionFeesAlreadyPaidInvalidError || vm.tuitionFeesAlreadyPaidMissingError">
                                    Enter a valid tuition fees already paid</span>
                    £ <input type="number" step="0.01" class="form-control form-control-1-4"
                             name="tuitionFeesAlreadyPaid"
                             id="tuitionFeesAlreadyPaid"
                             ng-model="vm.model.tuitionFeesAlreadyPaid" autocomplete="off">
                </div>

                <div class="form-group"
                     ng-class="{error : vm.accommodationFeesAlreadyPaidInvalidError || vm.accommodationFeesAlreadyPaidMissingError }">
                    <label class="form-label-bold" for="accommodationFeesAlreadyPaid" id="accommodation-fees-already-paid-label">
                        Accommodation fees already paid
                        <span class="form-hint">Up to £1265</span>
                    </label>
                    <span id="accommodation-fees-already-paid-error" class="error-message"
                          ng-if="vm.accommodationFeesAlreadyPaidInvalidError || vm.accommodationFeesAlreadyPaidMissingError">
                                    Enter a valid accommodation fees already paid</span>
                    £ <input type="number" step="0.01" class="form-control form-control-1-4"
                             name="accommodationFeesAlreadyPaid"
                             id="accommodationFeesAlreadyPaid"
                             ng-model="vm.model.accommodationFeesAlreadyPaid" autocomplete="off">
                </div>

                <div class="form-group"
                     ng-class="{error : vm.numberOfDependantsInvalidError || vm.numberOfDependantsMissingError }">
                    <label class="form-label-bold" for="numberOfDependants" id="number-of-dependants-label">
                        Number of dependants
                    </label>
                    <span id="number-of-dependants-error" class="error-message"
                          ng-if="vm.numberOfDependantsInvalidError || vm.numberOfDependantsMissingError">
                                    Enter a valid number of dependants</span>
                    <input type="number" class="form-control form-control-1-4"
                             name="numberOfDependants"
                             id="numberOfDependants"
                             ng-model="vm.model.numberOfDependants" autocomplete="off">
                </div>


                <div class="form-group" ng-class="{error : vm.sortCodeInvalidError || vm.sortCodeMissingError}">
                    <fieldset>
                        <legend class="form-label-bold" id="sort-code-label">Sort code</legend>
                        <div class="form-date">
                            <p class="form-hint">For example, 12 34 56</p>
                            <span id="sort-code-error" class="error-message"
                                  ng-if="vm.sortCodeInvalidError || vm.sortCodeMissingError">
                                    Enter a valid sort code</span>
                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeFirst"
                                       id="sortCodeFirst" type="text"
                                       ng-model="vm.model.sortCodeFirst"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeSecond"
                                       id="sortCodeSecond" type="text"
                                       ng-model="vm.model.sortCodeSecond"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeThird"
                                       id="sortCodeThird" type="text"
                                       ng-model="vm.model.sortCodeThird"
                                       autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group"
                     ng-class="{error : vm.accountNumberInvalidError || vm.accountNumberMissingError}">
                    <label class="form-label-bold" for="accountNumber" id="account-number-label">
                        Account number
                        <span class="form-hint">For example, 12345678</span>
                    </label>
                    <span id="account-number-error" class="error-message"
                          ng-if="vm.accountNumberInvalidError || vm.accountNumberMissingError">
                                    Enter a valid account number</span>
                    <input type="text" class="form-control form-control-1-4" name="accountNumber"
                           id="accountNumber"
                           ng-model="vm.model.accountNumber" autocomplete="off">
                </div>

                <div class="form-group">
                    <p><input type="submit" class="button continue-button" value="Check financial status"></p>
                </div>


            </form>
        </div>
    </div>

</div>
