
<h1 class="form-title heading-large">
    <span id="pageDynamicHeading">There is no record for the sort code and account number with Barclays</span>
</h1>

<p class="lede">
    <span id="pageDynamicDetail">We couldn't perform the financial requirement check as no information exists for sort code {{vm.model.sortCodeChecked}} and account number {{vm.model.accountNumberChecked}}</span>
</p>

<h2 class="heading-medium">
    Your search
</h2>

<table id="yourSearchTable">
    <thead>
    </thead>
    <tbody>
    <tr>
        <th width="50%">Sort code</th>
        <td id="sortCode" scope="col">{{vm.model.sortCodeChecked}}</td>
    </tr>
    <tr>
        <th>Account number</th>
        <td id="accountNumber" scope="col">{{vm.model.accountNumberChecked}}</td>
    </tr>
    <tr>
        <th>Date of birth</th>
        <td id="dob" scope="col">{{vm.model.dobChecked}}</td>
    </tr>
    </tbody>
</table>
<br/>
<div class="form-group">
    <input type="submit" class="button" value="Start a new search" ng-click="vm.newSearch()">
</div>
