<div class="column-full-width">
    <div id="page1" data-bind="visible: currentPage() === 1">
        <h1 class="heading-large" id="pageTitle">
            <span id="pageSubHeading">Financial status check</span></h1>
        <div class="text">
            <p class="lede" id="pageSubText">
                An online statement checker for a Barclays current account holder (must be in the applicant's own name).
            </p>
        </div>

        <div class="form-group">
            <form name="vm.queryForm" ng-submit="vm.submitStudentType()">

                <div ng-if="vm.validateError || vm.restError" class="error-summary"
                     role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                        There's some missing information
                    </h1>

                    <p>Make sure that all the fields have been completed</p>

                    <ul class="error-summary-list">

                        <li ng-if="vm.studentTypeMissingError">
                            <a href="" ng-click="vm.scrollTo('routeType')">The student type is invalid</a></li>

                    </ul>
                </div>

                <div class="form-group" id="studentType"
                     ng-class="{error : vm.studentTypeMissingError }">
                    <fieldset style="margin-bottom:6px">
                        <legend class="form-label-bold">Student type</legend>
                        <span id="student-type-error" class="error-message" ng-if="vm.studentTypeMissingError">
                                        Select an option</span>
                        <label class="block-label" for="studentType-1" id="studentType-1Label">
                            <input type="radio" class="form-control form-control-1-8" name="studentType"
                                   id="studentType-1" value="nondoctorate"
                                   ng-model="vm.model.studentType" autocomplete="off">Tier 4 (General) student
                        </label>
                    </fieldset>
                    <fieldset style="margin-bottom:6px">
                        <label class="block-label" for="studentType-2" id="studentType-2Label">
                            <input type="radio" class="form-control form-control-1-8" name="studentType"
                                   id="studentType-2" value="doctorate"
                                   ng-model="vm.model.studentType" autocomplete="off">Tier 4 (General) student (doctorate extension scheme)
                        </label>
                    </fieldset>
                    <fieldset style="margin-bottom:6px">
                        <label class="block-label" for="studentType-3" id="studentType-3Label">
                            <input type="radio" class="form-control form-control-1-8" name="studentType"
                                   id="studentType-3" value="pgdd"
                                   ng-model="vm.model.studentType" autocomplete="off">Tier 4 (General) student (post-graduate doctor or dentist)
                        </label>
                    </fieldset>
                    <fieldset style="margin-bottom:6px">
                        <label class="block-label" for="studentType-4" id="studentType-4Label">
                            <input type="radio" class="form-control form-control-1-8" name="studentType"
                                   id="studentType-4" value="sso"
                                   ng-model="vm.model.studentType" autocomplete="off">Tier 4 (General) student (sabbatical officer)
                        </label>
                    </fieldset>

                </div>

                <div class="form-group">
                    <p><input type="submit" class="button continue-button" value="Next"></p>
                </div>

            </form>
        </div>
    </div>

</div>
