<div class="error-summary" ng-if="vm.serverError !== ''">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        Server Error
    </h1>
    <p id="serverError"> {{vm.serverError}}</p>
    <p id="serverErrorDetail"> {{vm.serverErrorDetail}}</p>
</div>

<div class="column-full-width">
    <div id="page1" data-bind="visible: currentPage() === 1">
        <h1 class="heading-xlarge" id="pageTitle"><span id="pageHeading" class="heading-secondary" id="pageTitleLabel">Tier 4 (General) student (non-doctorate)</span>
            <span id="pageSubHeading">Financial Status Check</span></h1>
        <div class="text">
            <p class="lede" id="pageSubText">
                Online statement checker for a Barclays current account holder (must be in the applicants own name).
            </p>
        </div>

        <div class="form-group">
            <form name="vm.queryForm" ng-submit="vm.submit()">

                <div ng-if="vm.validateError || vm.restError" class="error-summary"
                     role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                        There's some missing information
                    </h1>

                    <p>Make sure that all the fields have been completed</p>

                    <ul class="error-summary-list">

                        <li ng-if="vm.endDateMissingError">
                            <a href="" ng-click="vm.scrollTo('endDateDay')">The end date is
                                missing</a></li>

                        <li ng-if="vm.endDateInvalidError">
                            <a href="" ng-click="vm.scrollTo('endDateDay')">The end date is
                                invalid</a></li>

                        <li ng-if="vm.innerLondonBoroughMissingError">
                            <a href="" ng-click="vm.scrollTo('innerLondonBorough')">The inner London Borough is missing</a></li>

                        <li ng-if="vm.courseLengthInvalidError">
                            <a href="" ng-click="vm.scrollTo('courseLength')">The course length is invalid</a></li>

                        <li ng-if="vm.courseLengthMissingError">
                            <a href="" ng-click="vm.scrollTo('courseLength')">The course length is missing</a></li>

                        <li ng-if="vm.totalTuitionFeesInvalidError">
                            <a href="" ng-click="vm.scrollTo('totalTuitionFees')">The total tuition fees is invalid</a></li>

                        <li ng-if="vm.totalTuitionFeesMissingError">
                            <a href="" ng-click="vm.scrollTo('totalTuitionFees')">The total tuition fees is missing</a></li>

                        <li ng-if="vm.tuitionFeesAlreadyPaidInvalidError">
                            <a href="" ng-click="vm.scrollTo('tuitionFeesAlreadyPaid')">The tuition fees already paid is invalid</a></li>

                        <li ng-if="vm.tuitionFeesAlreadyPaidMissingError">
                            <a href="" ng-click="vm.scrollTo('tuitionFeesAlreadyPaid')">The tuition fees already paid is missing</a></li>

                        <li ng-if="vm.accommodationFeesAlreadyPaidInvalidError">
                            <a href="" ng-click="vm.scrollTo('accommodationFeesAlreadyPaid')">The accommodation fees already paid is invalid</a></li>

                        <li ng-if="vm.accommodationFeesAlreadyPaidMissingError">
                            <a href="" ng-click="vm.scrollTo('accommodationFeesAlreadyPaid')">The accommodation fees already paid is missing</a></li>

                        <li ng-if="vm.accountNumberInvalidError">
                            <a href="" ng-click="vm.scrollTo('accountNumber')">The account number is invalid</a></li>

                        <li ng-if="vm.accountNumberMissingError">
                            <a href="" ng-click="vm.scrollTo('accountNumber')">The account number is missing</a></li>

                        <li ng-if="vm.sortCodeInvalidError">
                            <a href="" ng-click="vm.scrollTo('sortCodeFirst')">The sort code is invalid</a></li>

                        <li ng-if="vm.sortCodeMissingError">
                            <a href="" ng-click="vm.scrollTo('sortCodeFirst')">The sort code is missing</a></li>

                    </ul>
                </div>


                <div class="form-group " id="end-date"
                     ng-class="{error : vm.endDateMissingError || vm.endDateInvalidError}">

                    <fieldset>
                        <legend class="form-label-bold">End date of 28-day period</legend>
                        <div class="form-date">
                            <p class="form-hint">For example, 21 01 2016</p>
                                <span id="end-date-error" class="error-message"
                                      ng-if="vm.endDateMissingError || vm.endDateInvalidError">
                                    Please provide a valid end date</span>
                            <div class="form-group form-group-day">
                                <label for="endDateDay">Day</label>
                                <input class="form-control" name="endDateDay"
                                       id="endDateDay" type="number"
                                       pattern="[0-9]*" ng-model="vm.model.endDateDay" autocomplete="off">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="endDateMonth">Month</label>
                                <input class="form-control" name="endDateMonth"
                                       id="endDateMonth"
                                       type="number" pattern="[0-9]*" ng-model="vm.model.endDateMonth"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="endDateYear">Year</label>
                                <input class="form-control" name="endDateYear"
                                       id="endDateYear" type="number"
                                       pattern="[0-9]*" ng-model="vm.model.endDateYear"
                                       autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group" id="innerLondonBorough"
                     ng-class="{error : vm.innerLondonBoroughMissingError }">
                    <fieldset class="inline">
                        <legend class="form-label-bold">Is the place of study inner London Borough?</legend>
                        <span id="inner-london-borough-error" class="error-message" ng-if="vm.innerLondonBoroughMissingError">
                                        Please specify whether the course is inside or outside London</span>
                        <label class="block-label" for="innerLondonBorough-1">
                            <input type="radio" class="form-control form-control-1-8" name="innerLondonBorough"
                                   id="innerLondonBorough-1" value="true"
                                   ng-model="vm.model.innerLondonBorough" autocomplete="off">Yes
                        </label>
                        <label class="block-label" for="innerLondonBorough-2">
                            <input type="radio" class="form-control form-control-1-8" name="innerLondonBorough"
                                   id="innerLondonBorough-2" value="false"
                                   ng-model="vm.model.innerLondonBorough" autocomplete="off">No
                        </label>
                    </fieldset>
                </div>

                <div class="form-group"
                     ng-class="{error : vm.courseLengthInvalidError || vm.courseLengthMissingError }">
                    <label class="form-label-bold" for="courseLength">
                        Course length
                        <span class="form-hint">Enter the number of months, up to 9 months</span>
                    </label>
                    <span id="course-length-error" class="error-message"
                          ng-if="vm.courseLengthInvalidError || vm.courseLengthMissingError">
                                    Please provide a valid course length</span>
                    <input type="number" class="form-control form-control-1-8" name="courseLength" id="courseLength"
                           ng-model="vm.model.courseLength" autocomplete="off">
                </div>

                <div class="form-group"
                     ng-class="{error : vm.totalTuitionFeesInvalidError || vm.totalTuitionFeesMissingError }">
                    <label class="form-label-bold" for="totalTuitionFees">
                        Total tuition fees for the first year
                        <span class="form-hint">For example, 9000</span>
                    </label>
                    <span id="total-tuition-fees-error" class="error-message"
                          ng-if="vm.totalTuitionFeesInvalidError || vm.totalTuitionFeesMissingError">
                                    Please provide a valid total tuition fees</span>
                    £ <input type="number" step="0.01" class="form-control form-control-1-4" name="totalTuitionFees"
                            id="totalTuitionFees"
                            ng-model="vm.model.totalTuitionFees" autocomplete="off">
                </div>

                <div class="form-group"
                     ng-class="{error : vm.tuitionFeesAlreadyPaidInvalidError || vm.tuitionFeesAlreadyPaidMissingError }">
                    <label class="form-label-bold" for="tuitionFeesAlreadyPaid">
                        Tuition fees already paid
                        <span class="form-hint">For example, 3000</span>
                    </label>
                    <span id="tuition-fees-already-paid-error" class="error-message"
                          ng-if="vm.tuitionFeesAlreadyPaidInvalidError || vm.tuitionFeesAlreadyPaidMissingError">
                                    Please provide a valid tuition fees already paid</span>
                    £ <input type="number" step="0.01" class="form-control form-control-1-4" name="tuitionFeesAlreadyPaid"
                            id="tuitionFeesAlreadyPaid"
                            ng-model="vm.model.tuitionFeesAlreadyPaid" autocomplete="off">
                </div>

                <div class="form-group"
                     ng-class="{error : vm.accommodationFeesAlreadyPaidInvalidError || vm.accommodationFeesAlreadyPaidMissingError }">
                    <label class="form-label-bold" for="accommodationFeesAlreadyPaid">
                        Accommodation fees already paid
                        <span class="form-hint">For example, 500</span>
                    </label>
                    <span id="accommodation-fees-already-paid-error" class="error-message"
                          ng-if="vm.accommodationFeesAlreadyPaidInvalidError || vm.accommodationFeesAlreadyPaidMissingError">
                                    Please provide a valid accommodation fees already paid</span>
                    £ <input type="number" step="0.01" class="form-control form-control-1-4" name="accommodationFeesAlreadyPaid"
                            id="accommodationFeesAlreadyPaid"
                            ng-model="vm.model.accommodationFeesAlreadyPaid" autocomplete="off">
                </div>


                <div class="form-group" ng-class="{error : vm.sortCodeInvalidError || vm.sortCodeMissingError}">
                    <fieldset>
                        <legend class="form-label-bold">Sort code</legend>
                        <div class="form-date">
                            <p class="form-hint">For example, 12 34 56</p>
                            <span id="sort-code-error" class="error-message"
                                  ng-if="vm.sortCodeInvalidError || vm.sortCodeMissingError">
                                    Please provide a valid sort code</span>
                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeFirst"
                                       id="sortCodeFirst" type="tel"
                                       pattern="[0-9]{2}" ng-model="vm.model.sortCodeFirst"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeSecond"
                                       id="sortCodeSecond" type="tel"
                                       pattern="[0-9]{2}" ng-model="vm.model.sortCodeSecond"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeThird"
                                       id="sortCodeThird" type="tel"
                                       pattern="[0-9]{2}" ng-model="vm.model.sortCodeThird"
                                       autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group"
                     ng-class="{error : vm.accountNumberInvalidError || vm.accountNumberMissingError}">
                    <label class="form-label-bold" for="accountNumber">
                        Account number
                        <span class="form-hint">For example, 12345678</span>
                    </label>
                    <span id="account-number-error" class="error-message"
                          ng-if="vm.accountNumberInvalidError || vm.accountNumberMissingError">
                                    Please provide a valid account number</span>
                    <input type="text" pattern="[0-9]{8}" class="form-control form-control-1-4" name="accountNumber"
                           id="accountNumber"
                           ng-model="vm.model.accountNumber" autocomplete="off">
                </div>

                <div class="form-group">
                    <p><input type="submit" class="button continue-button" value="Check financial status"></p>
                </div>

            </form>
        </div>
    </div>

</div>
