<div class="column-full-width">
    <div id="page1" data-bind="visible: currentPage() === 1">
        <h1 class="heading-xlarge" id="pageSubTitle"><span class="heading-secondary">Tier 4</span>Financial
            status check</h1>
        <div class="text">
            <p class="lede" id="pageSubText">
                You can use this tool to check whether a Tier 4 Student applicant meets the financial status
                requirements.
            </p>
        </div>

        <div class="form-group">
            <form name="vm.queryForm" ng-submit="vm.submit()">

                <div ng-if="vm.validateError || vm.restError" class="error-summary"
                     role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                        There's some missing information
                    </h1>

                    <p>Make sure all the fields have been completed including the National Insurance Number and the
                        application raised date.</p>

                    <ul class="error-summary-list">

                        <li ng-if="vm.applicationRaisedDateMissingError">
                            <a href="" ng-click="vm.scrollTo('applicationRaisedDateDay')">The application raised date is
                                missing</a></li>

                        <li ng-if="vm.applicationRaisedDateInvalidError">
                            <a href="" ng-click="vm.scrollTo('applicationRaisedDateDay')">The application raised date is
                                invalid</a></li>

                        <li ng-if="vm.totalFundsRequiredInvalidError">
                            <a href="" ng-click="vm.scrollTo('totalFundsRequired')">The total funds required is
                                invalid</a></li>

                        <li ng-if="vm.totalFundsRequiredMissingError">
                            <a href="" ng-click="vm.scrollTo('totalFundsRequired')">The total funds required is
                                missing</a></li>

                        <li ng-if="vm.accountNumberInvalidError">
                            <a href="" ng-click="vm.scrollTo('accountNumber')">The account number is invalid</a></li>

                        <li ng-if="vm.accountNumberMissingError">
                            <a href="" ng-click="vm.scrollTo('accountNumber')">The account number is missing</a></li>

                        <li ng-if="vm.sortCodeInvalidError">
                            <a href="" ng-click="vm.scrollTo('sortCodeFirst')">The sortCode is invalid</a></li>

                        <li ng-if="vm.sortCodeMissingError">
                            <a href="" ng-click="vm.scrollTo('sortCodeFirst')">The sortCode is missing</a></li>

                    </ul>
                </div>


                <div class="form-group " id="application-raised-date"
                     ng-class="{error : vm.applicationRaisedDateMissingError || vm.applicationRaisedDateInvalidError}">

                    <fieldset>
                        <legend class="form-label-bold">When was the application raised?</legend>
                        <div class="form-date">
                            <p class="form-hint">For example, 31 3 2016</p>
                                <span id="application-raised-date-error" class="error-message"
                                      ng-if="vm.applicationRaisedDateMissingError || vm.applicationRaisedDateInvalidError">
                                    Please provide a valid application raised date</span>
                            <div class="form-group form-group-day">
                                <label for="applicationRaisedDateDay">Day</label>
                                <input class="form-control" name="applicationRaisedDateDay"
                                       id="applicationRaisedDateDay" type="number"
                                       pattern="[0-9]*" ng-model="vm.model.applicationRaisedDateDay" autocomplete="off">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="applicationRaisedDateMonth">Month</label>
                                <input class="form-control" name="applicationRaisedDateMonth"
                                       id="applicationRaisedDateMonth"
                                       type="number" pattern="[0-9]*" ng-model="vm.model.applicationRaisedDateMonth"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="applicationRaisedDateYear">Year</label>
                                <input class="form-control" name="applicationRaisedDateYear"
                                       id="applicationRaisedDateYear" type="number"
                                       pattern="[0-9]*" ng-model="vm.model.applicationRaisedDateYear"
                                       autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group"
                     ng-class="{error : vm.totalFundsRequiredInvalidError || vm.totalFundsRequiredMissingError}">
                    <label class="form-label-bold" for="totalFundsRequired">
                        Enter total funds required
                        <span
                            class="form-hint">This is calculated from the total fees minus what has already been paid.</span>
                    </label>
                    <span id="totalFundsRequired-error" class="error-message"
                          ng-if="vm.totalFundsRequiredInvalidError || vm.totalFundsRequiredMissingError">
                                    Please provide a valid total funds required</span>
                    <input type="number" pattern="[0-9]{8}" class="form-control form-control-1-4"
                           name="totalFundsRequired"
                           id="totalFundsRequired"
                           ng-model="vm.model.totalFundsRequired" autocomplete="off">
                </div>

                <div class="form-group"
                     ng-class="{error : vm.accountNumberInvalidError || vm.accountNumberMissingError}">
                    <label class="form-label-bold" for="accountNumber">
                        Account number
                        <span class="form-hint">For example, 12345678</span>
                    </label>
                    <span id="account-number-error" class="error-message"
                          ng-if="vm.accountNumberInvalidError || vm.accountNumberMissingError">
                                    Please provide a valid account number</span>
                    <input type="number" pattern="[0-9]{8}" class="form-control form-control-1-4" name="accountNumber"
                           id="accountNumber"
                           ng-model="vm.model.accountNumber" autocomplete="off">
                </div>

                <div class="form-group" ng-class="{error : vm.sortCodeInvalidError || vm.sortCodeMissingError}">
                    <fieldset>
                        <legend class="form-label-bold">Sort code</legend>
                        <div class="form-date">
                            <p class="form-hint">For example, 01 02 03</p>
                            <span id="sort-code-error" class="error-message"
                                  ng-if="vm.sortCodeInvalidError || vm.sortCodeMissingError">
                                    Please provide a valid sort code</span>
                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeFirst"
                                       id="sortCodeFirst" type="tel"
                                       pattern="[0-9]{2}" ng-model="vm.model.sortCodeFirst"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeSecond"
                                       id="sortCodeSecond" type="tel"
                                       pattern="[0-9]{2}" ng-model="vm.model.sortCodeSecond"
                                       autocomplete="off">
                            </div>

                            <div class="form-group form-group-day">
                                <input class="form-control" name="sortCodeThird"
                                       id="sortCodeThird" type="tel"
                                       pattern="[0-9]{2}" ng-model="vm.model.sortCodeThird"
                                       autocomplete="off">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group">
                    <p><input type="submit" class="button continue-button" value="Check financial status"></p>
                </div>

            </form>
        </div>
    </div>

</div>
